// your scss files should import here 💪🏻
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}
button {
  background-color: lightblue;
  border-radius: 5%;
  border: none;
}
h5 {
  color: red;
}
i {
  font-size: 2rem;
}
.checkout{
  width: 30vw;
  height: 30vh;
  background-color: lightpink;
  position: relative;
  left:30vw;
  bottom: 50vh;
}